<div class="col-md-4">
	<div class="box relative article-height">
		<div class="absolute article-height background-cover" style="background:url(<%=articulo.cover.url(:thumb)%>);top: 0px;left: 0px;width: 100%;">
			</div>
			<div class="absolute article-height background-cover" style="background:rgba(0,0,0,0.5);top: 0px;left: 0px;width: 100%;">
			</div>
			<div class="relative white text-center">
			<h2><%= link_to articulo.titulo, articulo %> </h2>
			<p>
			<%= Sanitize.document(truncate(articulo.body, length:30), Sanitize::Config::RELAXED).html_safe %> 
			</p>
		</div>
	</div>	
</div>
