<h1>Bienvenido</h1>
<h2>Articulos en el Post!</h2>
<% @articulos.each do |articulo| %>
<h2><%= link_to articulo.titulo, articulo %> </h2>
<div>
	<%= Sanitize.document(articulo.body, Sanitize::Config::RELAXED).html_safe %> 
</div>
<div>
	visitas: <%= articulo.visits_count %>
</div>
<% end -%>
<div>
	<%= will_paginate @articulos %>
</div>
