<div class="container" style="margin:0 auto;">
	<h1>Articulos en el Post!</h1>
		<div class="row">
			<%= render @articulos%>
		</div>
	<div class="top-space text-center">
		<%= will_paginate @articulos %>
	</div>
</div>